*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:   #041c44 ;
}

.color_verde{
    height: 10px;    
    width: 500px;
    background-color: green;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 15px 9px 12px #0c111c;
    margin-top: 140px;
    margin-left: 37%;
    
    
}
.container{
    width: 500px;
    background-color:    #1a2141 ;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 15px 10px 12px #0c111c ;
    padding: 40px 30px;
    margin-left: 37%;

}

.container img{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    margin-left: 30.25%;
}
.container .input{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background: #2b355b ;
}
.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
    
}

.container .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    padding-top:20px ;
    margin: -15px 0 15px;
    color:  #b4c1ca;
}

.remember label input{
    accent-color: #b4b9c2;
    margin-right: 3px;
    
}
.remember a{
    color:  #2c549c;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}
.container .envio{
    width: 40%;
    height: 35px;
    align-items: center;
    color: #b4c1ca;
    border-radius: 15px;
    background-color:  #eb4484 ;
    margin-left: 30%;
    border-color: #eb4484;
    box-shadow:7px 7px 7px  #0c111c ;
    margin-top: 10%;
    margin-bottom: 15%;
}



















